html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 30px;
    color: #7785a9;
    font-size: 16px;
}

.nav a {
    text-decoration: none;
    color: inherit;
}

.nav:hover {
    cursor: pointer;
    color: #ddca03;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: #566492;
}

svg {
    display: inline-block;
}

span {
    color: #ddca03;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
select,
img {
    vertical-align: middle;
}

button:hover {
    cursor: pointer;
}

h2 {
    color: #444;
}

h3 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.infoHead {
    margin-top: 10px;
    border-bottom: 1px solid #ddca03;
    display: flex;
    justify-content: space-between;
}

.nav {
    margin-right: 20px;
}

.signArea {
    position: fixed;
    top: 80px;
    right: 40px;
    width: 300px;
    height: 50%;
    z-index: 100;
    border: 1px solid #eee;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
}

.eye > img {
    cursor: pointer;
    width: 20px;
    position: absolute;
    top: 72px;
    left: 210px;
}

.infoBox {
    display: inline-block;
    position: fixed;
    top: 40px;
    left: 40px;
    width: 400px;
    height: 85%;
    background-color: #7785a9;
    color: #eee;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 25px;
    overflow-y: scroll;
}

.topic > span {
    color: #444;
    font-weight: bolder;
    border: 1px solid;
    padding: 1px 3px;
}

.choices {
    color: #444;
}

.btnGroup {
    display: inline-flex;
    flex-direction: column;
}

.btnGroup svg {
    width: 40px;
    fill: #fff;
}
.btnGroup svg path {
    cursor: pointer;
}

#countryImg {
    width: 100px;
    margin-top: 20px;
}

.flag {
    display: flex;
    justify-content: space-between;
}

.stars {
    display: inline-block;
    margin-top: 20px;
}

.stars img {
    width: 30px;
}

.exploreArea {
    position: absolute;
    bottom: 50px;
    right: 30px;
}

.colorBar {
    width: 30px;
    height: 30px;
}

.colorBar1 {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
}

.colorBar2 {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: orange;
}

.colorBar3 {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: yellow;
}
