html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2a3e4f;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 30px;
    color: #fff;
    font-size: 16px;
}

svg {
    display: inline-block;
}

span {
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
select,
img {
    vertical-align: middle;
}

button:hover {
    cursor: pointer;
}

h2 {
    color: #444;
}

h3 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.nav {
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: inherit;
}

.nav:hover {
    cursor: pointer;
    color: #edae49 !important;
}

#earth {
    min-height: -webkit-fill-available;
}

#earth,
.infoBox,
header {
    animation: fadeIn ease 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.exploreArea {
    position: absolute;
    bottom: 50px;
    right: 30px;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
}

.exploreArea span {
    color: #000;
}

.colorBar {
    width: 30px;
    height: 30px;
}

#colorBar1 {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #00798c;
}

#colorBar2 {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ff7979;
}

#colorBar3 {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #d1d1d1;
}

#colorBar4 {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #f2cc8f;
}

.signArea {
    position: fixed;
    top: 80px;
    right: 40px;
    min-height: 300px;
    width: 300px;
    z-index: 100;
    background: #eee;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    animation: flip 1s;
}

@keyframes flip {
    from {
        transform: rotateY(180deg);
        opacity: 0;
    }
}

.signArea h2 {
    margin-top: 20px;
    font-weight: bold;
}

.signArea input {
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.signArea input:focus {
    border: 0.5px solid #003d5b;
}

.signArea input[type='checkbox'] {
    opacity: 0;
    width: 0;
    margin: 0;
}

label[for='rememberMe'] {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 0;
    color: #444;
}

label[for='rememberMe']:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 4px;
}

[type='checkbox']:checked + label[for='rememberMe']:before {
    content: '';
    border: 2px solid #ccc;
    background: #003d5b;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

[type='checkbox']:checked + label[for='rememberMe']:after {
    content: '\2713\0020';
    position: absolute;
    top: 0.15em;
    left: 0.22em;
    font-size: 1.3em;
    line-height: 0.8;
    color: #fff;
    transition: all 0.2s;
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

.eye > img {
    cursor: pointer;
    width: 25px;
    position: absolute;
    top: 112px;
    left: 227px;
}

.rememberMe {
    display: inline-block;
}

#signInBtn,
#signUpBtn {
    font-weight: bold;
    width: 170px;
    margin: 10px 5px;
    border: 0;
    outline: none;
    border-radius: 30px;
    background-color: #003d5b;
    color: #fff;
    vertical-align: middle;
    line-height: 40px;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

#signInBtn:hover,
#signUpBtn:hover {
    color: #000;
    background-color: #edae49;
}

.bridge > span {
    color: #a7a7a7;
}

#FBLogin {
    font-weight: bold;
    width: 110px;
    margin: 10px 5px;
    border: 0;
    outline: none;
    border-radius: 7px;
    background-color: #1877f2;
    color: #fff;
    line-height: 40px;
    cursor: pointer;
    transition-duration: 0.3s;
}

#GoogleLogin {
    font-weight: bold;
    width: 110px;
    margin: 10px 5px;
    border: 0;
    outline: none;
    border-radius: 7px;
    background-color: #fff;
    color: #000;
    line-height: 40px;
    cursor: pointer;
    transition-duration: 0.3s;
}

#FBLogin:hover,
#GoogleLogin:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#FBLogin svg,
#GoogleLogin img {
    width: 25px;
    padding-right: 5px;
    font-size: 10px;
    vertical-align: middle;
}

.switchSignArea > span {
    color: #444;
}

.switchSignArea > a {
    font-weight: bold;
    color: #003d5b;
    cursor: pointer;
}

.infoBox {
    display: inline-block;
    position: fixed;
    top: 40px;
    left: 40px;
    width: 30%;
    max-width: 400px;
    height: 85%;
    max-height: 800px;
    background-color: #30638e;
    color: #eee;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 25px;
    overflow-y: scroll;
}

@media (max-width: 480px) {
    .infoBox {
        top: auto;
        bottom: 20px;
        max-height: 30%;
        width: 80%;
    }

    .exploreArea {
        top: 70px;
        left: 20px;
        width: 130px;
        height: fit-content;
    }
}

.choices {
    color: #444;
}

.infoHead {
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
}

.btnGroup {
    display: inline-flex;
    flex-direction: column;
}

.btnGroup svg {
    width: 40px;
    fill: #fff;
}

.btnGroup svg path {
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltipText {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 100;
    top: -5px;
    right: 110%;
}

.tooltip .tooltipText::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.tooltip:hover .tooltipText {
    visibility: visible;
}

.flag {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

#countryImg {
    width: 100px;
    margin-top: 20px;
}

.ave-rating {
    line-height: 20px;
}

.ave-rating .stars {
    display: inline-block;
}

.ave-rating .stars img {
    width: 20px;
}

.ave-rating .score {
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 5px;
}

.ave-rating .count {
    font-size: 16px;
    display: inline-block;
}

.aveStars {
    display: inline-block;
    margin-top: 20px;
}

.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-outer::before {
    content: '\f005 \f005 \f005 \f005 \f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 100;
    font-size: 25px;
    color: #ffc108;
}

.stars-inner::before {
    content: '\f005 \f005 \f005 \f005 \f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 25px;
    color: #ffc108;
}

#infoBoxBtn {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#infoBoxBtn span {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

#infoBoxBtn .active {
    color: #edae49;
    border-bottom: 5px solid #edae49;
}

.commentInput textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    resize: none;
    height: 70px;
    width: -webkit-fill-available;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}

.stars {
    display: inline-block;
    margin-top: 20px;
}

.stars > span:before {
    content: '\2605';
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.stars:hover > span:before {
    color: #ffc108;
}

.stars > span:hover ~ span:before {
    color: #fff;
}

.submit button {
    width: 60px;
    border: 0;
    outline: none;
    border-radius: 4px;
    background-color: #3f3a3a;
    color: #fff;
    margin-left: auto;
    display: block;
    line-height: 30px;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.1s;
}

.submit button:hover {
    color: #000;
    background-color: #979797;
}

#noComment {
    margin-top: 30px;
}

.topic > span {
    color: #edae49;
    font-weight: bolder;
    border: 1px solid;
    padding: 1px 3px;
    line-height: 2em;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10px;
    background-color: #003d5b;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
